@{
    ViewData["Title"] = "Ventas y Servicios";
    Layout = "_MasterSite";
}

@section PageCrumb{
    <span class="breadcrumb-item active"><a href="@Url.Action("Index","Sales")">Ventas y Servicios</a></span>
}
