@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.ItemRequestViewModel
@{
    ViewData["Title"] = "Solicitud de Material";
    Layout = "_MasterSite";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Agregar Material</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form asp-controller="Laboratory" asp-action="CreateItem" method="post">
                    <input type="hidden" asp-for="RequestKey"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-weight-bold" asp-for="MaterialKey">Material a Solicitar:</label>
                                <select asp-for="MaterialKey" asp-items="Model.Materials" class="select"></select>
                                <span asp-validation-for="MaterialKey" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-weight-bold" asp-for="Quantity">Cantidad Requerida:</label>
                                <input type="text" asp-for="Quantity" class="form-control" placeholder="Nombre Area">
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn bg-success btn-labeled btn-labeled-right">Agregar Material <b><i class="icon-add"></i></b></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de Materiales</h5>
    </div>
    <div class="card-body">
    </div>
    <table class="table table-hover datatable-responsive">
        <thead>
            <tr>
                <th>Nombre Material</th>
                <th>Cantidad Solicitada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.MaterialName</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section PageCrumb{
    <span class="breadcrumb-item">Administración</span>
    <span class="breadcrumb-item active">Areas</span>
}
@section CustomScripts{
    <script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/js/AreaList.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").select2({
                tags: false,
                tokenSeparators: [',']
            });

        });
    </script>
}


