@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.AreaViewModel
@{
    ViewData["Title"] = "Lista de Areas";
    Layout = "_MasterSite";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Nueva Area</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Administrator" asp-action="CreateUser" method="post">
                    <input type="hidden" asp-for="AreaKey" />
                    <input type="hidden" asp-for="Action" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-weight-bold" asp-for="AreaName">Nombre Area:</label>
                                <input type="text" asp-for="AreaName" class="form-control" placeholder="Nombre Area">
                                <span asp-validation-for="AreaName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn bg-success btn-labeled btn-labeled-right">@Model.Action Area <b><i class="icon-add"></i></b></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/global_assets/images/principal.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Lista de Area</h5>
    </div>
    <div class="card-body">
    </div>
    <table class="table table-hover datatable-responsive">
        <thead>
            <tr>
                <th>Nombre Area</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AreaViewModels)
            {
                <tr>
                    <td>@item.AreaName</td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section PageCrumb{
    <span class="breadcrumb-item">Administración</span>
    <span class="breadcrumb-item active">Areas</span>
}
@section CustomScripts{
    <script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/js/AreaList.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").select2({
                tags: false,
                tokenSeparators: [',']
            });

        });
    </script>
}



