@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.ChangePasswordViewModel
<div class="col-md-12">
    <form method="post" asp-controller="Administrator" asp-action="ChangePassword">
        <input type="hidden" asp-for="UserKey" />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Password">Nueva Contraseña:</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Nueva Contraseña (Minimo 8 caracters)">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="ConfirmPassword">Repetir Contraseña:</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Repetir Contraseña (Minimo 8 caracters)">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-12 text-right">
                <button type="submit" id="btnSubmit" class="btn bg-setin btn-labeled btn-labeled-right">Cambiar Contraseña <b><i class="icon-user-lock"></i></b></button>
            </div>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
